#intro {
//    border: 2px solid red;
  height: 100%;
  transition: height 2s;
}

#block {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  // background: white;
  // background: #55aaff; /* Old browsers */
  // background: -moz-linear-gradient(top,  #55aaff 0%, #ffffff 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55aaff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top,  #55aaff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top,  #55aaff 0%,#ffffff 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(top,  #55aaff 0%,#ffffff 100%); /* IE10+ */
  // background: linear-gradient(to bottom,  #55aaff 0%,#ffffff 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55aaff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#intro h1 {
  font-size: 1.75em;
  line-height: 45px;
  margin: 0 auto;
  display: block;
  width: 300px;
  @include respond-to(tablet-up) {
    font-size: 2.5em;
    width: 85%;
    padding: 20px 0;
  }
  @include respond-to(desktop-up) {
    font-size: 2.65em;
    padding: 80px 0 50px 0;
    max-width: 700px;
  }
}

#intro h1 span {
  color: $white;
  transition: all 1s;
  cursor: pointer;
}

#intro h1 span:hover {
  text-decoration: underline;
}
