@import 'breakpoints';

#intro header {
  > div {
    width: 80%;
    max-width: 1000px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 75px;
  }
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  @include respond-to(phone) {
    width: 100%;
    padding-top: 20px;
  }
  @include respond-to(tablet-up) {
    h2, li {
      line-height: 75px;
    }
  }
}

#intro nav {
  @include respond-to(tablet-up) {
    float: right;
    ul li a {
      padding: 10px 25px;
    }
  }
  text-align: center;

  ul li a {
    padding: 10px 17px;
    text-align: left;
  }
}

#intro header h2, nav ul, #intro nav ul li {display: inline-block;}

#intro header h2 {
  font-size: 1.6em;
  color: #F8E71C;
  @include respond-to(tablet-up) {
    float: left;
  }
  @include respond-to(phone) {
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
    width: 130px;
  }
  // span {
  //   color: $red;
  // }
}
