///* http://meyerweb.com/eric/tools/css/reset/ 
//   v2.0 | 20110126
//   License: none (public domain)
//*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, main {
  height: 100%;
  width: 100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, ul, li, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
///* http://meyerweb.com/eric/tools/css/reset/ 
//   v2.0 | 20110126
//   License: none (public domain)
//*/
//
//html, body, div, span, applet, object, iframe,
//h1, h2, h3, h4, h5, h6, p, blockquote, pre,
//a, abbr, acronym, address, big, cite, code,
//del, dfn, em, img, ins, kbd, q, s, samp,
//small, strike, strong, sub, sup, tt, var,
//b, u, i, center,
//dl, dt, dd, ol, ul, li,
//fieldset, form, label, legend,
//table, caption, tbody, tfoot, thead, tr, th, td,
//article, aside, canvas, details, embed, 
//figure, figcaption, footer, header, hgroup, 
//menu, nav, output, ruby, section, summary,
//time, mark, audio, video {
//    margin: 0;
//    padding: 0;
//    border: 0;
//    font-size: 100%;
//    font: inherit;
//    vertical-align: baseline;
//}
///* HTML5 display-role reset for older browsers */
//article, aside, details, figcaption, figure, 
//footer, header, hgroup, menu, nav, section {
//    display: block;
//}
//body {
//    line-height: 1;
//    /* overflow-x:  hidden; */
//}
//ol, ul {
//    list-style: none;
//}
//blockquote, q {
//    quotes: none;
//}
//blockquote:before, blockquote:after,
//q:before, q:after {
//    content: '';
//    content: none;
//}
//table {
//    border-collapse: collapse;
//    border-spacing: 0;
//}