$headerHeight: 50px;
$headerBg: rgba(0,0,0,.5);
$headerColor: white;

#projects {
  color: black;
}

.project {
  width: 90%;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  margin-top: $headerHeight;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.thumbnail {
  header {
    height: $headerHeight;
    background: #55AAFF;
    line-height: $headerHeight;
    padding-left: 10px;
    color: white;
  }
  img {
    max-width: 100%;
  }
}

.credits {
  font-size: .9em;
  color: white;
    ul {
      padding: 20px;
      margin: 15px 0 0 20px;
      font-weight: 300;
      list-style-type:disc;
      li {
        padding: 2px;
      }
    }
}
